@page
@model AntalModel
@{
    ViewData["Title"] = "Antal";
}



<div>
    <!-- <h2>@ViewData["Title"]</h2> -->

    <div class="a section">
       
        <h3>Fuldtidsansatte</h3>

        <p>Region Sjællands personaleforbrug er i 2016 på 14.798 fuldtidsstillinger. Det største virksomhedsområde er Sjællands Universitetshospital
             med 3.911 fuldtidsstillinger (26,4 %), mens Intern Kontrolenhed er mindst med en fuldtidsstilling (0,004 %). 
             Enheden var under opbygning i 2016, derfor det lave tal. Sygehusene udgør samlet 10.861 fuldtidsstillinger eller 73 %. </p>
        <div id="fuldtid"></div>
        <br/></>
        <p>Herunder ses fordeling af fuldtidsansatte i boblerne. Tryk på en boble for at se stillingskategorier. </p>
        <div id="bubble"></div>
 
    </div> 
    <div class="b section">
         <br/>
         <h3>Fuldtid og deltid</h3>
         <p>Af Region Sjællands 18.100 medarbejdere er 10.193 ansat på fuldtid, 5.889 er ansat på deltid og 2.018 er ansat på timeløn og har varierende timetal. 
             Kun 9 % af de deltidsansatte er mænd. Af de fuldtidsansatte udgør mændene 26 % og kvinderne 74 %.</p>

         <div id="fuldtid-deltid"></div>

    </div>

    <script>

        //var csvFuldtid = "Year;Virk;Gender;Fuldtid\n2016;Apo-Sygehusapoteket;Kvinde;152,23\n2016;Apo-Sygehusapoteket;Mand;17,24\n2016;Direktionen;Mand;3\n"
        //var csvAntal = "Year;Virk;Gender;Antal\n2016;Apo-Sygehusapoteket;Kvinde;160\n2016;Apo-Sygehusapoteket;Mand;20\n2016;Koncern HR;Mand;9\n"
        //Get csv from model

        var csvFuldtid = "@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Model.EmployeeFuldtid, false))";
        //console.log("CSV from model: " + csv2);
        var csvAntal = "@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Model.EmployeeAntal, false))";
        //console.log("CSV from model: " + csv2);

        
        viz.fuldtid(csvFuldtid);
        viz.bubble(csvFuldtid);
        viz.antal(csvAntal);


        </script>
</div>

    
