@page
@model AntalModel
@{
    ViewData["Title"] = "Antal";
}
<h2>@ViewData["Title"]</h2>

<div id="Fuldtid">
        <h3>@Model.Message</h3>
        <p>@Model.EmployeeFuldtid</p>
       
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript">

    //D3 code here
    

  

    </script>

    </div>

    
