@page
@model IndexModel
@{
    ViewData["Title"] = "AZ startside";
}

<div class="jumbotron">
  <h1 class="display-4">Region Sjællands personale fra A-Z <span>2016</span></h1>
   <hr class="my-4">
 <ul>
            <li>80 % af regionens ansatte er kvinder</li>
            <li>Gennemsnitsalderen er 45,1 år</li>
            <li>9 % af medarbejderne på deltid er mænd</li>
        </ul>
 <br/>
  <p class="lead">
    <a class="btn btn-default btn-lg" href="/Antal" role="button">Bliv klogere...</a>
  </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Definitioner</h2>
        <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">Antal ansatte</a> for managing client-side libraries</li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398939">Antal medarbejdere</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398939">etc</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <img src="https://images.pexels.com/photos/8306/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb" width="500" height="300">
    </div>
    

    
</div>


